<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="analytics"></ion-icon>
      <ion-label>Charts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Tracker</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
