<ion-header>
  <ion-toolbar>
    <ion-title>
      My energy Usage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>My Goal for Energy Consumption per Month</ion-card-title>
  </ion-card-header>
    <ion-card-content>
      <form>
        <ion-item>
          <ion-label>My Goal (kW)</ion-label>
            <ion-input type="number" [(ngModel)]="goal" name="goal"></ion-input>
        </ion-item>
        <ion-button (click)="addGoal()">Add new goal</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="warningBox">
    <ion-card-content>
      <div class="warningBox">{{warning}}</div>
    </ion-card-content>
  </ion-card>
  
  <ion-card *ngIf="infoBox">
    <ion-card-header>
      <ion-card-title>Your stats!</ion-card-title></ion-card-header>
    <ion-card-content>
      <p>{{info}}</p>
      <p>{{compareR}}</p>
  </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
     <ion-card-title>My Consumption (per day)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-list>
          <ion-item>
            <ion-label>Phone charged</ion-label>
            <ion-checkbox [(ngModel)]="phone" name="phone"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>TV (3hours)</ion-label>
              <ion-checkbox [(ngModel)]="tv" name="tv"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>Microwave</ion-label>
              <ion-checkbox [(ngModel)]="microwave" name="microwave"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>Laundry Machine</ion-label>
              <ion-checkbox [(ngModel)]="laundry" name="laundry"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>Dishwasher</ion-label>
              <ion-checkbox [(ngModel)]="dish" name="dish"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>PC (3 hours)</ion-label>
              <ion-checkbox [(ngModel)]="pc" name="pc"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>Laptop</ion-label>
              <ion-checkbox [(ngModel)]="laptop" name="laptop"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>Lamp(Led)</ion-label>
              <ion-checkbox [(ngModel)]="led" name="led"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>Lamp(Bulb)</ion-label>
              <ion-checkbox [(ngModel)]="bulb" name="bulb"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>Coffee Maker</ion-label>
              <ion-checkbox [(ngModel)]="coffee" name="coffee"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>Fridge</ion-label>
              <ion-checkbox [(ngModel)]="fridge" name="fridge"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>Freezer</ion-label>
              <ion-checkbox [(ngModel)]="freezer" name="freezer"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>Oven</ion-label>
              <ion-checkbox [(ngModel)]="oven" name="oven"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>Water Boiler</ion-label>
              <ion-checkbox [(ngModel)]="water" name="water"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>Vacuum</ion-label>
              <ion-checkbox [(ngModel)]="vacuum" name="vacuum"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>Toaster</ion-label>
              <ion-checkbox [(ngModel)]="toaster" name="toaster"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>Sauna (Electric)</ion-label>
              <ion-checkbox [(ngModel)]="sauna" name="sauna"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>Consoles</ion-label>
              <ion-checkbox [(ngModel)]="consoles" name="consoles"></ion-checkbox>
          </ion-item>
        </ion-list>
          <ion-button (click)="getCurrent()">Get Current Consumption</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
