<ion-header>
  <ion-toolbar>
    <ion-title>
      Wind and Water Power
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
      
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Wind Power Right Now (MW / h)</ion-card-subtitle>
        <ion-card-title class="dot">{{wind?.value}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button (click)="getPower()">Show Chart</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Search for power production</ion-card-title>
        <ion-card-content>
          <p>Please note, that the hourly time is not option with water.</p>
          <form>
            <div *ngIf="warningBox" class="warningBox">{{warning}}</div>
            <ion-item>
              <ion-label>Start date</ion-label>
              <ion-input type="date" [(ngModel)]="startDate" name="startDate" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Start time</ion-label>
              <ion-input type="time" [(ngModel)]="startTime" name="startTime"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>End date</ion-label>
              <ion-input type="date" [(ngModel)]="endDate" name="endDate"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>End time</ion-label>
              <ion-input type="time" [(ngModel)]="endTime" name="endTime"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Power type</ion-label>
                <ion-select [(ngModel)]="powerType" name="powerType">
                  <ion-select-option value="wind">Wind</ion-select-option>
                  <ion-select-option value="water">Water</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Time type</ion-label>
                <ion-select [(ngModel)]="timeType" name="timeType">
                  <ion-select-option value="real">Real time</ion-select-option>
                  <ion-select-option value="hourly">Hourly</ion-select-option>
                </ion-select>
            </ion-item>
            
            <ion-button (click)="search()">Search</ion-button>
          </form>
        </ion-card-content>
      </ion-card-header>
    </ion-card>
    <ion-card *ngIf="chart">
      <ion-card-header>
        <ion-card-title>
          Power Production last 24 hours
        </ion-card-title>
      </ion-card-header>
      <ion-card-content >
        <canvas #barCanvas></canvas>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="searchB">
        <ion-card-header>
          <ion-card-title>
            Power Production {{type}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content >
          <canvas #barCanvas></canvas>
        </ion-card-content>
      </ion-card>
</ion-content>
