.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

ion-card {
  --background: rgb(255, 255, 255);
  --color: rgb(28, 28, 28);
  text-align: justify;
}


.welcome-card ion-card-title {
  --color: rgb(28, 28, 28);
  font-size: 4em;
  display: flex;
  justify-content: center;
  
}


ion-card-subtitle {
  --color: rgb(28, 28, 28);
  font-size: 1.3em;
  margin-bottom: 1em;
}

ion-toolbar {
  --background: rgb(58, 95, 196);
  --color: rgb(224, 224, 224);
}

ion-content {
  --background: rgb(188, 197, 229);
}

ion-button {
  --background: rgb(58, 95, 196);
  --color: rgb(224, 224, 224);
}

.warningBox {
  color: rgb(232, 58, 58);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(232, 58, 58);
}

p {
  color: rgb(232, 58, 58);
}