ion-card {
    --background: rgb(255, 255, 255);
    --color: rgb(28, 28, 28);
    text-align: justify;
}

ion-card-title {
    --color: rgb(28, 28, 28);
    font-size: 1.3em;
    margin-bottom: 1em;
}

ion-card-content {
    --color: rgb(28, 28, 28);
    font-size: 1.2em;
}

ion-toolbar {
    --background: rgb(58, 95, 196);
    --color: rgb(224, 224, 224);
}

a {
    text-decoration: none;
}

ion-content {
    --background: rgb(188, 197, 229);
  }