<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="information">
    <ion-card-header>
      <ion-card-title>The Application</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      This is an unpublished university project by a small team of students. The 
      application is not to be considered finished or completely safe to use. 
      <br><br>
      The main purpose of the mobile application is to provide the means to view 
      hourly and real-time data of wind and water energy produced in Finland. In 
      addition, the app has a secondary purpose, which is to let the user track 
      their own energy consumption by allowing them to set their own goals and 
      calculate the average of their daily consumption of energy.  
      <br><br>
      The aim is to make the users think more about their energy consumption and 
      try to let them see that renewable energy is slowly growing and could 
      potentially be considered a valid supplier. 
    </ion-card-content>
  </ion-card>

  <ion-card class="information">
    <ion-card-header>
      <ion-card-title>Wind Energy</ion-card-title>
  </ion-card-header>
    <ion-card-content>
        Wind Power is recurring energy. During wind powers production it does not 
        create any pollution to earth. we should use more of wind power to help 
        create a cleaner future for Earth. 

        In the past wind power was used to mill grain and lift water. Thanks to 
        the advancements in technology we use windmills to produce electricity.  

        Today’s windmills use the momentum created by wind to spin the huge blades 
        attached to it that spins the generator that in turn creates electricity.  

        Wind powers production amount changes from day to day depending on how 
        windy it is. In Finland that is not an issue tho because of how windy it 
        is in Finland.  
    </ion-card-content>
  </ion-card>

  <ion-card class="information">
    <ion-card-header>
      <ion-card-title>Hydro power</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      How does hydropower work? <br/>
      1: The hydropower plant utilizes the difference in altitude between two different water levels.<br/>  
      2: Water from the higher level is led to the lower one through the plants turbime.<br/> 
      3. Turbine spins up the generator <br/>
      4. Transduser converts the electrical voltage to the power grid.<br/>
      5. Electricity  transfers to the electrical grid.<br/><br/>

      Positives of hydropower:<br/>
      A clean and renewable form of energy for the environment.<br/> 
      No carbon dioxide is produced in the production.<br/> 
      No waster or any emissions.<br/>
      The water doesn’t get polluted or diminish when it flows through the power plant.<br/> 
      Power plants operate basically automatically and do not require any fuel.<br/>
      Maintenance is not that expensive.<br/>
      Not dependent on weather compared to for example to wind power.<br/><br/> 

      Negatives of hydropower.<br/>
      Dams hinder the movement of fish, which affects fish stocks and fishing. <br/>
      The regulation of watercourses causes variations in the surface and flow of water. <br/>
      Building new power plant is extremely expensive.  <br/>
      Damage to the landscape from the power plant. <br/><br/>

      The use of hydropower in finland: <br/>
      First hydropowerplant was launched on september 22, 1891 in Tampere. <br/>
      In finland, about 15% of electricity is generated by hydropower.
    </ion-card-content>
  </ion-card>

  <ion-card class="information">
    <ion-card-header>
      <ion-card-title>Permissions</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Source for wind and hydro power data: <a href="https://www.fingrid.fi/">Fingrid</a>, license <a href="https://creativecommons.org/licenses/by/4.0/">CC 4.0 BY</a>
    </ion-card-content>
  </ion-card>

</ion-content>
