<ion-header>
  <ion-toolbar>
    <ion-title>chart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          Power Production last 24 hours
        </ion-card-header>
        <ion-card-content >
          <canvas #barCanvas></canvas>
        </ion-card-content>
      </ion-card>

</ion-content>
